<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css" href="css/normalize.css" rel="stylesheet"></style>
    <style type="text/css" href="css/skeleton.css" rel="stylesheet"></style>
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'app/action.js' %}"></script>
    
    <title>{% block title %}LDMK FIA UI 2019{% endblock  %}</title>
</head>
<body>
    <div id="header">
        {% include 'app/base/header.html' %}
    </div>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>

    {% comment %} <div id="footer">
        {% include 'app/base/footer.html' %}
    </div> {% endcomment %}


</body>
</html>