<div class="burger-nav">
    <hr class="burger-hr" id="first">
    <hr class="burger-hr" id="middle">
    <hr class="burger-hr" id="second">
</div>
<div class="tombols hide-tombols" id="container-tombol">
        <div class="tombol">
            <a href="/" class="a-tombol">BERANDA</a>
        </div>
        <div class="tombol">
            <a href="#" class="a-tombol tentang-arrow">TENTANG LDMK</a>
        </div>
        <div class="tombol" id="menu">
            <div class="menu-arrow">
                <div class="menu-dan-tombol">
                    <a href="/menu" class="a-tombol">MENU</a>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
                <div id="hide">
                    <div class="hidden-menu">
                        <a href="/menu/identitas-kami" class="a-tombol">Identitas Kami</a>
                        <a href="/menu/just-reminder" class="a-tombol">Just Reminder</a>
                        <a href="/menu/narasi-harian" class="a-tombol">Narasi Harian</a>
                        <a href="/menu/panduan-mu" class="a-tombol">Panduanmu</a>
                        <a href="/menu/upcoming-event" class="a-tombol">Upcoming Events</a>
                    </div>
                </div>
            </div>
        </div>
</div>
