{% extends 'app/base/base.html' %}
{% load static %}

{% block content %}
<div>
    <div id="chantheader">
        <img id="id_kami" src="../../static/app/images/id_kami.png">
        <h1>CHANT</h1>
    </div>
    <div id="chantcontainer">

        <div id="chant1">
            <div id="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HpvvfBu66xc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="chantlirik">
                    <p id="chant1lirik"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>  
        </div>

        <div id="chant1">
            <div id="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HpvvfBu66xc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="chantlirik">
                    <p id="chant1lirik"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                             sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>
        </div>

        <div id="chant1">
            <div id="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HpvvfBu66xc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="chantlirik">
                <p id="chant1lirik"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
        </div>    
    </div>
</div>

{% endblock content %}
