{% extends 'app/base/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div id="container" class="row center_gravity">
        <div class="block">
            <a class="transparent_button" href="{% url 'app:halaman_identitas' %}">
                <img class="logo roll" src="{% static 'app/img/identitas_kami.png' %}">
            </a>
        </div>
        <div class="block">
            <a class="transparent_button" href="{% url 'app:halaman_reminder' %}">
                <img class="logo roll" src="{% static 'app/img/just_reminder.png' %}">
            </a>
        </div>
        <div class="block">
            <a class="transparent_button" href="{% url 'app:halaman_narasi' %}">
                <img class="logo roll" src="{% static 'app/img/narasi_harian.png' %}">
            </a>
        </div>
        <div class="block">
            <a class="transparent_button" href="{% url 'app:halaman_panduan' %}">
                    <img class="logo roll" src="{% static 'app/img/panduan_mu.png' %}">
            </a>
        </div>
        <div class="block">
            <a class="transparent_button" href="{% url 'app:halaman_upcoming' %}">
                <img class="logo roll" src="{% static 'app/img/upcoming_event.png' %}">
            </a>
        </div>
    </div>
</div>

{% endblock content %}
