{% extends 'app/base/base.html' %}
{% load static %}

{% block content %}
<div id="container1">
    <div id="headercontainer">
        <div id="imgcontainer">
            <img id="img-home" src="../../static/app/images/welcome1.JPG"/>
        </div>
        <div id="welcomecontainer">
            <div id="welcomee">
                <p id="welcome">selamat <br><span id="underline">datang</span></p>
            </div>
            <div id="containerdesc">
                <p id="desc"><span id="ldmk">LDMK FIA UI</span></p>
                <p id="desc">tempat pertama dimana semua mahasiswa baru UI dapat <span id="tebel">mengenal, mengalami, dan merasakan</span>
                berbagai pengetahuan dan kemampuan yang mereka butuhkan nantinya ketika menjalani dunia perkuliahan</p>
            </div>
        </div>
    </div>
    <div class="container-arrow-down">
        <i class="material-icons md-36 arrow tentang-arrow">arrow_downward</i>
    </div>
</div>

<div class="tentang-container">
    <h2>TENTANG LDMK</h2>
    <div class="tentang-ldmk-content">
    <div class="deskripsi-tentang-ldmk">
        <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus."
        </p>
    </div>
    <div class="foto-tentang-ldmk-container">
        <img src="{% static 'app/images/dumi.jpg' %}" alt="" id="foto-tentang">
    </div>
    </div>
</div>

<div class="kegiatan-dan-booklet">
    <div class="wrapper-kegiatan">
        <h2>JADWAL KEGIATAN</h2>
        <div class="container-kegiatan">
            {% for satu_kegiatan in kegiatan %}
                <div class="kegiatan-card" id="{{ satu_kegiatan.id }}">
                    <div class="tanggal-kegiatan">
                        {{ satu_kegiatan.tanggal }}
                    </div>
                    <div class="nama-kegiatan">
                        {{ satu_kegiatan.nama }}
                    </div>
                </div>

                <div class="detil-kegiatan" id="{{ satu_kegiatan.id }}" >
                    <i class="material-icons close-detil">close</i>
                    <img class="foto-detil-kegiatan" src="{{ satu_kegiatan.foto.url }}" alt="">
                    <div class="judul-dan-tanggal">
                        <h2>{{ satu_kegiatan.nama }}</h2>
                        <h4>{{ satu_kegiatan.waktu }}</h4>
                    </div>
                    <div id="deskripsi-kegiatan">
                        {{ satu_kegiatan.deskripsi|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="wrapper-booklet">
        <h2>BOOKLET</h2>
        <div class="container-booklet">
            <img src="{% static 'app/images/Cover Booklet sementara.png' %}" alt="" id="icon-booklet">
        </div>
        <a href="https://drive.google.com/open?id=1UwiPUrbDDiLUEJweNhFveBh9uZ-Zui5K" download class="hidden">Download</a>
    </div>

</div>

{% endblock content %}
