body {
    background-color:#FBF5EF;
    overflow-y: scroll;
}
#content {
    margin: auto;
    width: 90%;
}
#imgcontainer{
    margin-right: 7vh;
}
#id_kami{
    height:5vw;
    width:5vw;
}
#video{
    margin-right: 25vw;
}
#welcome{
    font-size: 15vh;
    font-weight: bold;
    margin-top:-3vh;
    flex:1;
}
#chant1{
    display:flex;
    flex-direction: row;
    margin-top: 5vh;
}
#chant1lirik{
    font-size: 1.5vw;
}
#chantlirik{
    background-color:white;
    width:20vw;
    height:40vh;
    overflow-y:scroll;
}
#underline{
    text-decoration: underline;
}
#headercontainer{
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
#welcomecontainer{
    flex-direction: column;
    align-self: flex-start;
    display: flex;
}
#chantheader{
    display:flex;
    flex-direction: row;
}
#welcomee{
    display:flex;
    flex-direction: column;
    padding-left: -5vh;
    justify-content: flex-start;
    align-items: flex-start;
}
#container1{
    /* width:100vw; */
    height: 100vh;
    padding-top: 2%;
}
#containerdesc{
    display: flex;
    width:40vw;
    flex-direction: column;
}
#desc{
    font-size: 3vh;
}
#ldmk{
    font-weight: bold;
}
#tebel{
    font-weight: bold;
}
#header {
    /* background-color: white; */
    position: sticky;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.tombols {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.tombol {
    margin-left: 3%;
}

.menu-arrow {
    display: flex;
    flex-direction: column;
}

i.material-icons {
    align-self: center;
}

#menu {
    width: 10%;
}

/* POSITIONING DIV */
.center{
    margin: auto;
}

#container {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
  
.block {
    width:150px;
    height:150px;
    margin:20px;        
}

.center_gravity{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* POSITIONING TEXT */
.center_text{
    text-align: center;
}

/* LOGO SETUP etc */
.center_content{
    align-content: center;
}
 
.roll:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 120%;
}

.transparent_button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.logo{
    width: 100%;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nyoba {
    font-family: 'Poppins', sans-serif !important;
}

.kegiatan-card {
    width: 10vw;
    height: 10vw;
    background-color: #650F7B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    margin-right: 2%;
    margin-bottom: 2%;
}

.kegiatan-card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.detil-kegiatan {
    background-color: #FBF5EF;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    color: black;
    width: 50vw;
    max-height: 100vh;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 25%;
    margin-top: 1%;
    display: none;
    font-family: 'Poppins', sans-serif;
}


.close-detil:hover {
    cursor: pointer;
}

.judul-dan-tanggal {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

/* sumber : https://codepen.io/jstn/pen/zuDst */

.tombol a {
    text-decoration: none;
    position: relative;
    color: black;
}

.tombol a::after {
    content: '';
    bottom: 0;
    height: 2px;
    left: 50%;
    background:#658D75;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.tombol a:hover::after {
    width: 100%;
    left: 0;
}


/* sumber : https://codepen.io/jstn/pen/zuDst */

.bawah {
    width: 100%;
}

.menu-dan-tombol {
    display: flex;
}

.hidden-menu {
    display: flex;
    flex-direction: column;
}

#hide {
    position: absolute;
    display: none;
    top: 100%;
}

#footer {
    background-color: #F3A55B;
    height: 30px;
    width: 100%;
}

.burger-nav {
    display: none;
    width: 35px;
    margin-left: auto;
}

.hide-tombols {
    display: flex;
}

.foto-detil-kegiatan {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#deskripsi-kegiatan {
    width: 90%;
    margin: auto;
}


.kegiatan-dan-booklet {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.container-kegiatan {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-kegiatan {
    width: 60%;
}

.wrapper-booklet {
    width: 40%;
}

#icon-booklet {
    max-height: 50vh;
}

#icon-booklet:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

/* #img-home {
    max-width: 90vw;
} */

.tentang-ldmk-content {
    display: flex;
}

.deskripsi-tentang-ldmk {
    width: 50%;
    text-align: right;
}

.foto-tentang-ldmk-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#foto-tentang {
    max-width: 90%;
}

.tentang-container {
    font-family: 'Poppins', sans-serif;
    height: 80vh;
}

.arrow {
    position: relative;
    animation-name: arrow-downward;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin: auto;
}

.arrow:hover {
    cursor: pointer;
}

.container-arrow-down {
    display: flex;
    align-content: center;
    justify-content: center;
}


.material-icons.md-36 { font-size: 36px; }

.container-booklet {
    display: flex;
    align-content: center;
    justify-content: center;
}


@keyframes arrow-downward {
    0% {
        top: 2px;
    }
    1% {
        top: 4px;
    }
    2% {
        top: 6px;
    }
    3% {
        top: 8px;
    }
    4% {
        top: 10px;
    }
    5% {
        top: 12px;
    }
    6% {
        top: 14px;
    }
    7% {
        top: 16px;
    }
    10% {
        top: 16px;
    }
    20% {
        top: 12px;
    }
    30% {
        top: 12px;
    }
    40% {
        top: 16px;
    }
    50% {
        top: 14px;
    }
    55% {
        top: 12px;
    }
    60% {
        top: 10px;
    }
    65% {
        top: 8px
    }
    70% {
        top: 6px;
    }
    75% {
        top: 4px;
    }
    80% {
        top: 2px;
    }
    85% {
        top: 0px
    }
    90% {
        top: 0px;
    }
    100% {
        top: 0px;
    }
}


@media only screen and (max-width: 768px) {
    .kegiatan-card {
        width: 25vw;
        height: 25vw;
    }


    .burger-nav {
        display: block;
    }
    .burger-hr {
        border: 2px solid #F3A55B;
        position: relative;
    }
    .tombols {
        position: absolute;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        background-color: #FBF5EF;
        right: 0px;
        justify-content: flex-start;
        align-content: center;
        line-height: 3;
    }

    .hide-tombols {
        display: none;
    }

    .rotate-first-clicked {
        animation-name: rotate-first-clicked;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .rotate-first-unclicked {
        animation-name: rotate-first-unclicked;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .rotate-second-clicked {
        animation-name: rotate-second-clicked;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .rotate-second-unclicked {
        animation-name: rotate-second-unclicked;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    #hide {
        position: static;
        display: block;
        width: 97%;
        margin-left: 3%;
    }

    .detil-kegiatan {
        width: 90vw;
        left: 5%;
    }

    .foto-detil-kegiatan {
        max-width: 90%;
    }

    #headercontainer {
        flex-direction: column;
    }

    #welcome {
        font-size: 10vh;
        margin-top: 0%;
    }

    #containerdesc {
        width: 90%;
        margin-top: -10%;
    }

    #img-home {
        max-width: 90vw;
        margin-left: 5%;
    }

    #container1{
        height: 90vh;
    }



    .tentang-ldmk-content {
        flex-direction: column-reverse;
    }

    .deskripsi-tentang-ldmk {
        width: 100%;
    }
    
    .foto-tentang-ldmk-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tentang-container {
        height: auto;
    }

    @keyframes rotate-first-clicked {
        0% {
            top: 2px;
        }
        5% {
            top: 4px;
        }
        10% {
            top: 6px;
        }
        15% {
            top: 8px;
        }
        20% {
            top: 10px;
        }
        30% {
            top: 12px;
        }
        40% {
            transform: rotate(6.42deg);
            -webkit-transform: rotate(6.42deg);
            top: 12px;
        }
        50% {
            transform: rotate(12.84deg);
            -webkit-transform: rotate(12.84deg);
            top: 12px;
        }
        60% {
            transform: rotate(19.26deg);
            -webkit-transform: rotate(19.26deg);
            top: 12px;
        }
        70% {
            transform: rotate(25.68deg);
            -webkit-transform: rotate(25.68deg);
            top: 12px;
        }
        80% {
            transform: rotate(32.1deg);
            -webkit-transform: rotate(32.1deg);
            top: 12px;
        }
        90% {
            transform: rotate(38.52deg);
            -webkit-transform: rotate(38.52deg);
            top: 12px;
        }
        100% {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            top: 12px;
        }
    }

    @keyframes rotate-second-clicked {
        0% {
            bottom: 2px;
        }
        5% {
            bottom: 4px;
        }
        10% {
            bottom: 6px;
        }
        15% {
            bottom: 8px;
        }
        20% {
            bottom: 10px;
        }
        30% {
            bottom: 12px;
        }
        40% {
            transform: rotate(-6.42deg);
            -webkit-transform: rotate(-6.42deg);
            bottom: 12px;
        }
        50% {
            transform: rotate(-12.84deg);
            -webkit-transform: rotate(-12.84deg);
            bottom: 12px;
        }
        60% {
            transform: rotate(-19.26deg);
            -webkit-transform: rotate(-19.26deg);
            bottom: 12px;
        }
        70% {
            transform: rotate(-25.68deg);
            -webkit-transform: rotate(-25.68deg);
            bottom: 12px;
        }
        80% {
            transform: rotate(-32.1deg);
            -webkit-transform: rotate(-32.1deg);
            bottom: 12px;
        }
        90% {
            transform: rotate(-38.52deg);
            -webkit-transform: rotate(-38.52deg);
            bottom: 12px;
        }
        100% {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            bottom: 12px;
        }
    }


    @keyframes rotate-first-unclicked {
        0% {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            top: 12px;
        }
        10% {
            transform: rotate(38.52deg);
            -webkit-transform: rotate(38.52deg);
            top: 12px;
        }
        20% {
            transform: rotate(32.1deg);
            -webkit-transform: rotate(32.1deg);
            top: 12px;
        }
        30% {
            transform: rotate(25.68deg);
            -webkit-transform: rotate(25.68deg);
            top: 12px;
        }
        40% {
            transform: rotate(19.26deg);
            -webkit-transform: rotate(19.26deg);
            top: 12px;
        }
        50% {
            transform: rotate(12.84deg);
            -webkit-transform: rotate(12.94deg);
            top: 12px;
        }
        60% {
            transform: rotate(6.42deg);
            -webkit-transform: rotate(6.42deg);
            top: 12px;
        }
        70% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            top: 10px;
        }
        80% {
            top: 8px;
        }
        85% {
            top: 6px;
        }
        90% {
            top: 4px;
        }
        95% {
            top: 2px
        }
        100% {
            top: 0px;
        }
    }

    @keyframes rotate-second-unclicked {
        100% {
            bottom: 0px;
        }
        95% {
            bottom: 2px;
        }
        90% {
            bottom: 4px;
        }
        85% {
            bottom: 6px;
        }
        80% {
            bottom: 8px;
        }
        70% {
            transform: rotate(0);
            -webkit-transform: rotate(0deg);
            bottom: 10px;
        }
        60% {
            transform: rotate(-6.42deg);
            -webkit-transform: rotate(-6.42deg);
            bottom: 12px;
        }
        50% {
            transform: rotate(-12.84deg);
            -webkit-transform: rotate(-12.84deg);
            bottom: 12px;
        }
        40% {
            transform: rotate(-19.26deg);
            -webkit-transform: rotate(-19.26deg);
            bottom: 12px;
        }
        30% {
            transform: rotate(-25.68deg);
            -webkit-transform: rotate(-25.68deg);
            bottom: 12px;
        }
        20% {
            transform: rotate(-32.1deg);
            -webkit-transform: rotate(-32.1deg);
            bottom: 12px;
        }
        10% {
            transform: rotate(-38.52deg);
            -webkit-transform: rotate(-38.52deg);
            bottom: 12px;
        }
        0% {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            bottom: 12px;
        }
    }

    #menu {
        width: 100%;
    }

    .kegiatan-dan-booklet {
        flex-direction: column;
    }

    .wrapper-kegiatan {
        width: 100%;
    }

    .wrapper-booklet {
        width: 100%;
    }

    #imgcontainer {
        display: none;
    }

    #container-tombol {
        height: 100vh;
    }
}
